*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

header{
    background-color: hsl(0, 0%, 80%);
    padding: 20px;
    text-align: center;
}

.navbar{
    background-color: hsl(0, 2%, 25%);
    height: 50px;
}

aside{
    width: 20%;
    float: left;
    padding: 10px;
}

section{
    width: 40%;
    float: left;
    padding: 10px;
}

article{
    width: 40%;
    float: left;
    padding: 10px;
}

footer{
    background-color: hsl(0, 26%, 70%);
    padding: 20px;
    text-align: center;
    margin: 0px;
    display: block;
    clear: both;
}

@media screen and (max-width: 600px){
    aside, section, article{
        width: 100%;
    }
}